* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    overflow: hidden;
}

#game {
    aspect-ratio: 1;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#lines {
    aspect-ratio: 1;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#lines svg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

#lines svg path {
    stroke-dasharray: 145;
    stroke-dashoffset: 145;
    animation: draw 500ms linear forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#game div {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    transform: scale(1.01);
}

#cell0, #cell1, #cell2 {
    border-top: none !important;
}
#cell2, #cell5, #cell8 {
    border-right: none !important;
}
#cell6, #cell7, #cell8 {
    border-bottom: none !important;
}
#cell0, #cell3, #cell6 {
    border-left: none !important;
}

#game div svg {
    height: 50%;
    width: 50%;
}

#end {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
}

#end #screen {
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, .25);
    text-align: center;
}